/*.div-p {line-height: 50px}*/
.zhengti{
    background-repeat: repeat;
    background-image: url(../img%20cooperative%20partner/bgMetal5-1.jpg);
}
.province1{margin: 30px 0}
.province1 h2{  border-bottom: 2px #ccc solid;padding:15px  5px;}
.province1 .row{border-top: 1px #898989 solid;padding-top: 20px}
.province1 .col-md-3{width: 25%;height: 50px}
.province1 .col-md-3 p{font-size: 18px;font-family: "黑体";color: #302f30}
.color1{background-color: #d7fcc1}
.color2{background-color: #fac2ef}
.color3{background-color: #faf4c2}
.color4{background-color: #bafacb}
.color5{background-color: #d7fcc1}
.color6{background-color: #fac2ef}
.color7{background-color: #faf4c2}
.color8{background-color: #bafacb}
.color9{background-color: #e2c0f6}




